<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Diving Dashboard</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer; 
    width: auto; 
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5; 
}

table {
    border-collapse: collapse;
    width: 100%; 
}
</style>
<!-- Style for the dive overview--><style>
    .canvas-container {
        display: none;
        position: absolute;
        top: 90%; /* Position below the map */
        left: 320px;
        right: 0;
        height: auto; 
        width: calc(100% - 340px); /
    }

    /* Styles for the canvas and table containers */
    .container {
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .canvas-container canvas {
        width: 100%; 
        height: 200px;
    }

    
    .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 16px;
        font-weight: normal;
        color: #666;
        margin-bottom: 20px;
    }
</style>
<!-- Style for the map --><style>
  #map-container {
    position: absolute;
    top: 10%;
    left: 320px; /* Adjust the distance from the left side to match the width of the dashboard */
    right: 0;
    bottom: 0;
    z-index: 10; 
  }
  
  #map {
      height: 80%; 
      width: 77.5%; 
  }
  /* Increase font size of Leaflet map labels */
  .leaflet-container .leaflet-pane .leaflet-label {
          font-size: 64px; /* Dont think this works, cahnge later */
      }
</style>

<body>
  <div>
    <!-- Navbar and side bar -->
    <nav class="bg-white border-b border-gray-200 fixed z-30 w-full">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
            <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar"
              class="lg:hidden mr-2 text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded">
              <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg id="toggleSidebarMobileClose" class="w-6 h-6 hidden" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <a id="diving-return" href="#" class="text-xl font-bold flex items-center lg:ml-2.5">
              <img src="https://demo.themesberg.com/windster/images/logo.svg" class="h-6 mr-2" alt="Windster Logo" />
              <span class="self-center whitespace-nowrap">Diving</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex overflow-hidden bg-white pt-16">
        <aside id="sidebar"
          class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75"
          aria-label="Sidebar">
          <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0">
            <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
              <div class="flex-1 px-3 bg-white divide-y space-y-1">
                <ul class="space-y-2 pb-2">
                  <li>
                    <a id="dashboard-return" href="#"
                      class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group">
                      <svg class="w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                      </svg>
                      <span class="ml-3">Dashboard</span>
                    </a>
                  </li>
                </ul>
                <div class="space-y-2 pt-2">
                    <!-- File input -->
                    <input type="file" id="fileInput" name="xmlFile" class="hidden" />
                    <!-- Upload Data button -->
                    <a id="upload-link" href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                        <svg class="w-5 h-5 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gem" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                            d="M378.7 32H133.3L256 182.7L378.7 32zM512 192l-107.4-141.3L289.6 192H512zM107.4 50.67L0 192h222.4L107.4 50.67zM244.3 474.9C247.3 478.2 251.6 480 256 480s8.653-1.828 11.67-5.062L510.6 224H1.365L244.3 474.9z">
                            </path>
                        </svg>
                        <span class="ml-4">Upload Data</span>
                    </a>
                  </div>
                  <a href="/download" download="dive_data.csv" target="_blank"
                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                      <path fill-rule="evenodd"
                        d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-3">Download Data</span>
                  </a>
                </div>
                  <table>
                      <thead>
                          <tr>
                            <th>Dives</th> 
                          </tr>
                      </thead>
                      <tbody id="dive-list">
                          <!-- fills out using js -->
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </aside>
        <div id="map-container" class="h-full w-full">
            <div id="map"></div>
          </div>
            <div class="canvas-container container">
                <div class="title">Dive Data Overview</div>
                <div class="subtitle">Summary of Dive Details , Dive Site, Dive computer, Duration(s), Max Depth(m), Date</div>
                <!-- Table row -->
                <table>
                    <tr>
                        <td>Dive Site:</td>
                        <td id="diveSiteName"></td> 
                        <td>Dive Computer:</td>
                        <td id="diveComputerType"></td>
                        <td>Duration:</td>
                        <td id="diveDurationValue"></td>
                        <td>Max Depth:</td>
                        <td id="diveMaxDepthValue"></td>
                        <td>Date:</td>
                        <td id="diveDateValue"></td>
                    </tr>
                    
                    <!-- Add other rows for Duration, Max Depth, Date, etc. -->
                </table>
                <canvas id="diveTableSummary"></canvas>
            </div>
        </div>
    </div>
    
    <!--JS SCRIPTs-->

<!-- Map script --> <script>
    
    // Define the maximum bounds for the smap
    var maxBounds = [
        [90, -180], // North West
        [-90, 180]  // South East
    ];

// Initialize the Leaflet map with maximum zoom level and max bounds
    var map = L.map('map', {
        center: [51.505, -0.09],
        zoom: 4,
        maxBounds: maxBounds
    });
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '© Diving Data Hub',
        maxZoom: 18,
        id: 'mapbox/streets-v11', // Use the Mapbox streets-v11 style for English labels
        accessToken: 'pk.eyJ1IjoiYWdnZWthZ2dlMTAwIiwiYSI6ImNsc3ZvbDJyMjBrcXUyaW8xdjUyZHVyYmQifQ.6taN-WJRikR-pfXQdPzI8A' // Replace with your Mapbox access token
    }).addTo(map);

 // Fetch latitude
fetch('/get-latitude')
  .then(response => response.text())
  .then(latitude => {
    // Fetch longitude
    fetch('/get-longitude')
      .then(response => response.text())
      .then(longitude => {
        // Split latitude and longitude strings into arrays
        latitude= latitude.slice(1,-2);
        longitude= longitude.slice(1,-2);
        const latitudeArray = latitude.split('\\r\\n');
        const longitudeArray = longitude.split('\\r\\n');
        
        // Assuming both latitude and longitude arrays have the same length
        for (let i = 0; i < latitudeArray.length; i++) {
          // Convert latitude and longitude to floating-point numbers
          const lat = parseFloat(latitudeArray[i]);
          const lng = parseFloat(longitudeArray[i]);

          // Create marker and add it to the map
          var marker = L.marker([lat, lng]).addTo(map);
          // Optionally, bind a popup to the marker
          marker.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng).openPopup();
        }
      })
      .catch(error => {
        console.error('Error fetching longitude:', error);
      });
  })
  .catch(error => {
    console.error('Error fetching latitude:', error);
  });

      


</script>

<!-- Fetch get-dive-name --><script>
    fetch('/get-dive-name')
            .then(response => response.text())
            .then(data => { 
                data = data.slice(1, -2);
                let fileIndex = 0; //File index/row index
                console.log('Data received:', data); // Log the data to the console
                const fileNames = data.split('\\r\\n').filter(fileName => fileName.trim() !== '');
                const fileListBody = document.getElementById('dive-list');
                fileNames.forEach((fileName, index) => {
                    fileIndex += 1; //Incrementer
                    const row = document.createElement('tr');
                    const fileNameCell = document.createElement('td');
                    fileNameCell.textContent = fileName || 'Unnamed Dive'; // Show 'Unnamed Dive' if no name exists
                    row.addEventListener('click', () => {
                        handleFileNameClick(fileName);
                    });
                    row.appendChild(fileNameCell);
                    row.setAttribute('data-index', fileIndex); //Setting index for the row as an attribute
                    fileListBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching file list:', error);
    });


</script>

<!-- Handle a new canvas when choosing what dives to --><script>

    //Handle when row is clicked (the function first checks which files is clicked thorugh which index it is, this gets
    //mapped inside an array to see what file has been clicked. Then we add the data for the new canvas inside this)
    function handleFileNameClick(diveName) {
        // Retrieve the index from the clicked row
        const rowIndex = parseInt(event.currentTarget.getAttribute('data-index'));
        //Fetching first file list
        console.log(rowIndex);
        document.querySelector('.canvas-container').style.display = 'block';
        fetch('/get-file-list')
            .then(response => response.text()) // to get the response as text
            .then(fileListString => {
                fileListString = fileListString.slice(1, -2);
                 // Split the string into an array of file names
                 const fileList = fileListString.split('\\r\\n').filter(fileName => fileName.trim() !== '');
                // Retrieve the file name using the index
                const selectedFileName = fileList[rowIndex-1];
                console.log('Selected file:', selectedFileName); // Log the selected file name
                
                //Adding data in the row -
                // Add Dive Site Name = diveName , already done pre
                document.getElementById('diveSiteName').textContent = diveName;

                // Fetch all values using the reusable function (fetchData)
                fetchData('/get-dive-computer', selectedFileName, data => {
                    data=data.slice(1,-2);
                    document.getElementById('diveComputerType').textContent = data;
                });

                fetchData('/get-duration', selectedFileName, data => {
                    document.getElementById('diveDurationValue').textContent = data;
                });

                fetchData('/get-max-depth', selectedFileName, data => {
                    document.getElementById('diveMaxDepthValue').textContent = data;
                });

                fetchData('/get-date', selectedFileName, data => {
                    data=data.slice(1,-2);
                    document.getElementById('diveDateValue').textContent = data;
                });
            })
            .catch(error => {
                console.error('Error fetching file list:', error);
        });}
//Function for fetching data repeativly, doing different fetches
function fetchData(url, fileName, callback) {
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ fileName: fileName })
    })
    .then(response => response.text())
    .then(data => {
        callback(data);
    })
    .catch(error => {
        console.error(`Error fetching ${url}:`, error);
    });
}
</script>

<!-- Script for returning to home-page --><script>

    // Add event listener to the dash board click to invis the dive summary
    document.getElementById('dashboard-return').addEventListener('click', function(event) {
        document.querySelector('.canvas-container').style.display = 'none';
    });
    // Add event listener to the dash board click to invis the dive summary
    document.getElementById('diving-return').addEventListener('click', function(event) {
        document.querySelector('.canvas-container').style.display = 'none';
    });
</script>    

<!-- Upload --><script>

    // Function to trigger file input click event
    function triggerFileInput() {
        const fileInput = document.getElementById('fileInput');
        fileInput.click(); // Trigger click event on file input
    }
    // Add event listener to the upload link
    document.getElementById('upload-link').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action of the link
        triggerFileInput(); // Call the function to trigger file input click event
    });

    // Event listener to handle file selection
    document.getElementById('fileInput').addEventListener('change', function() {
        const formData = new FormData(); // Create a FormData object
        formData.append('xmlFile', this.files[0]); // Append the file to the FormData object
        console.log('Selected file:', this.files[0]);
        // Implement your upload logic here
        fetch('/upload', {
            method: 'POST',
            body: formData, // Pass the FormData object as the request body
        })
        .then(response => response.json())
        .then(data => {
            console.log('Upload response:', data);
            // Handle upload response if needed
        })
        .catch(error => {
            console.error('Error uploading file:', error);
            // Handle error if needed
        });
    });

</script>

</body>

</html>