<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Diving Dashboard</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart-->
</head>
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer; 
    width: auto; 
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5; 
}

table {
    border-collapse: collapse;
    width: 100%; 
}
</style>
<!-- Style for the dive overview--><style>
    .canvas-container {
        display: none;
        position: absolute;
        top: 90%; /* Position below the map */
        left: 320px;
        right: 0;
        height: auto; 
        width: calc(100% - 340px); /
    }

    /* Styles for the canvas and table containers */
    .container {
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .canvas-container canvas {
        width: 100%; 
        height: 200px;
    }

    
    .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 16px;
        font-weight: normal;
        color: #666;
        margin-bottom: 20px;
    }
</style>
<!-- Style for the map --><style>
  #map-container {
    position: absolute;
    display: block;
    top: 10%;
    left: 320px; 
    right: 0;
    bottom: 0;
    z-index: 10; 
    
  }
  
  #map {
      height: 80%; 
      width: 70%; 
  }
  
</style>
<!-- Style for the graph --><style>
  .graph-container {
    position: absolute;
    display: none;
    top: 10%;
    left: 320px; 
    right: 0;
    bottom: 0;
    z-index: 10; 
    width: 70%;
  }
  .aditional-content-right {
    background-color: #6d6464;
    display: block;
    position: absolute; /* Position the content absolutely */
    top: 10%; /* Adjust the top position as needed */
    right: 0; /* Align the content to the right */
    width: 50%;
  }

  .additional-content-below {
    display: none;
    float: left;
    width: 100%;
  }
  </style>
  

<body>
  <div>
    <!-- Navbar and side bar -->
    <nav class="bg-white border-b border-gray-200 fixed z-30 w-full">
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
            <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar"
              class="lg:hidden mr-2 text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded">
              <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg id="toggleSidebarMobileClose" class="w-6 h-6 hidden" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <a id="diving-return" href="#" class="text-xl font-bold flex items-center lg:ml-2.5">
              <img src="https://demo.themesberg.com/windster/images/logo.svg" class="h-6 mr-2" alt="Windster Logo" />
              <span class="self-center whitespace-nowrap">Diving</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex overflow-hidden bg-white pt-16">
        <aside id="sidebar"
          class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75"
          aria-label="Sidebar">
          <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0">
            <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
              <div class="flex-1 px-3 bg-white divide-y space-y-1">
                <ul class="space-y-2 pb-2">
                  <li>
                    <a id="dashboard-return" href="#"
                      class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group">
                      <svg class="w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                      </svg>
                      <span class="ml-3">Dashboard</span>
                    </a>
                  </li>
                </ul>
                <div class="space-y-2 pt-2">
                    <!-- File input -->
                    <input type="file" id="fileInput" name="xmlFile" class="hidden" />
                    <!-- Upload Data button -->
                    <a id="upload-link" href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                        <svg class="w-5 h-5 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gem" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                            d="M378.7 32H133.3L256 182.7L378.7 32zM512 192l-107.4-141.3L289.6 192H512zM107.4 50.67L0 192h222.4L107.4 50.67zM244.3 474.9C247.3 478.2 251.6 480 256 480s8.653-1.828 11.67-5.062L510.6 224H1.365L244.3 474.9z">
                            </path>
                        </svg>
                        <span class="ml-4">Upload Data</span>
                    </a>
                    <div id="dive-computer-dropdown" class="hidden">
                      <label for="diveComputer" class="text-gray-700">Select Dive Computer:</label>
                      <select id="diveComputer" name="diveComputer" class="border-gray-300 rounded-lg">
                          <option value="">Select...</option>
                          <option value="computer1">Uddf</option>
                          <option value="computer2">Garmin</option>
                          <option value="computer3">Deepblu</option>
                      </select>
                  </div>
                  </div>
                  <a href="/download" download="dive_data.csv" target="_blank"
                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                      <path fill-rule="evenodd"
                        d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-3">Download Data</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div id="map-container" class="h-full w-full">
            <div id="map"></div>
          </div>
            <div class="canvas-container container">
                <div class="title">Dives in location selected</div>
                <div class="subtitle">Click on a dive to see more information</div>
                <!-- Table row -->
                <table>
                  <tbody id="dive-list">
                    <!-- fills out using js -->
                </tbody>
                </table>
                <canvas id="diveTableSummary"></canvas>
            </div>
            <div class="graph-container">
              <button id="more-info" class="bottom-10 left-0 p-2 m-4 bg-blue-500 text-white rounded ">More Info</button>
              <canvas id="diveProfile"></canvas>
              <div class="additional-content-below">
                <!-- Content to be displayed below the graph -->
                <!-- Content about the diver -->
                <div class="flex flex-wrap mb-4">
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <strong><span id="nameLabel" class="text-black">Name:</span></strong>
                    <span id="diverName"></span>
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <strong><span id="dateLabel" class="text-black">Date:</span></strong>
                    <span id="diveDate"></span>
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <strong><span id="certLabel" class="text-black">Certification:</span></strong>
                    <span id="diveCertification"></span>
                  </div>
                </div>
                
                <!-- Content about the dive -->
                <div class="flex flex-wrap mb-4">
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                  <strong id="diverAverageDepth">Average Dive Depth:</strong> 20 meters
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <strong id="diverTotalDuration">Total Dive Duration:</strong> 10 hours
                  </div>
                  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <strong id="greatestDepth">GreatestDepth:</strong> 5 m
                  </div>
                </div>
                
                <!-- Download dive option -->
                <div>
                  <a href="/download" download="dive_data.csv" target="_blank" class="text-gray-700 hover:text-gray-900 font-bold py-2 px-4 rounded border border-gray-500">
                    Download Dive
                  </a>
                </div>
            </div>
            <div class="additional-content-right absolute top-0 left-full ml-4 mt-4">
              <!-- Content to be displayed to the right of the graph -->
              Dynamic content (hover to see)
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
    <!--JS SCRIPTs-->

<!-- Populate data below chart--><script>
function populateContentBelow(fileName, index){
  //function to populate the chart below using selected fileName. Date,Name,GreatestDepth, AverageDepth,Certification etc
  fetch('/get-dive-name')
        .then(response => response.text())
        .then(data => { 
            data = data.slice(2, -3);
            let DiveIndex = 0; //File index/row index
            const regex = /"([^"]+)"/g;
            const DiveNames = Array.from(data.matchAll(regex), match => match[1]);
            const currentDiveName = DiveNames[index];
            console.log(currentDiveName);
            document.querySelector('#diverName').textContent += " " + currentDiveName;
            fetchData('/get-date', fileName, date => {
              document.querySelector('#diveDate').textContent = date;
  });
  })
}



</script>

<!-- Fetch data --><script>
  function fetchData(url, fileName, callback) {
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ fileName: fileName })
    })
    .then(response => response.text())
    .then(data => {
        callback(data);
    })
    .catch(error => {
        console.error(`Error fetching ${url}:`, error);
    });
  }
</script>

<!-- Dive profile click --><script>
  function ShowDiveProfileClick(DiveName){
    //Get the rowIndex which has been clicked
    const rowIndex = parseInt(event.currentTarget.getAttribute('new-index'));
    
    fetch('/get-file-list')
     .then(response => response.text())
     .then(fileListString => {
      fileListString = fileListString.slice(2, -3);
      const regex = /"([^"]+)"/g;
      // Split the string into an array of file names
      const fileList = Array.from(fileListString.matchAll(regex), match => (match[1]));
      // Retrieve the file name using the index (index starts as 1 we use zero here)
      const selectedFileName = fileList[rowIndex-1];
      console.log('Selected file:', selectedFileName); // Log the selected file name

      // Fetch depth data
      fetchData('/dive-depth', selectedFileName, depthList => {
          depthList = depthList.slice(2, -3).replace(/"/g, "").split(",");
          // Fetch temperature data
          fetchData('/dive-temperature', selectedFileName, tempList => {
              tempList = tempList.slice(2, -3).replace(/"/g, "").split(",");              
              // Fetch time data
              fetchData('/dive-time', selectedFileName, timeList => {
                  timeList = timeList.slice(2, -3).replace(/"/g, "").split(",");
                  // Convert the fetched data into arrays of numbers
                  const depthData = depthList.map(entry => parseFloat(entry.trim()));
                  const tempData = tempList.map(entry => parseFloat(entry.trim()));
                  const timeData = timeList.map(entry => parseFloat(entry.trim()));
                  const invertedDepthData = depthData.map(depth => -depth);
                  // Create an array of objects where each object represents a waypoint
                  const waypoints = timeData.map((time, index) => ({
                      time: time,
                      depth: invertedDepthData[index],
                      temp: tempData[index], // Include temperature as an attribute
                  }));
                  // Sort the waypoints by time 
                  waypoints.sort((a, b) => a.time - b.time);

                  // Extract the sorted time, depth, and temperature data
                  const sortedTimeData = waypoints.map(waypoint => waypoint.time);
                  const sortedDepthData = waypoints.map(waypoint => waypoint.depth);
                  const sortedTempData = waypoints.map(waypoint => waypoint.temp);

                  // Create the chart data using the sorted arrays
                  const data = {
                      labels: sortedTimeData, // time on x-axis
                      datasets: [
                          {
                              data: sortedDepthData,
                              borderColor: 'rgba(173, 216, 230, 0.8)',
                              backgroundColor: 'rgba(173, 216, 230, 0.4)',
                              temperature: sortedTempData, //add temp as a dataset to later use it
                          },
                      ],
              
                 };

                  // Configuration options
                  const config = {
                      type: 'line',
                      data: data,
                      options: {
                          scales: {
                              x: {
                                  title: {
                                      display: true,
                                      text: 'Divetime',
                                  },
                              },
                              y: {
                                  title: {
                                      display: true,
                                      text: 'Depth (m) ',
                                  },
                                  beginAtZero: true, // Start the axis at zero
                              },
                          },
                          elements: {
                              line: {
                                  borderWidth: 2,
                                  tension: 0.8,
                              },
                          },
                          plugins: {
                              filler: {
                                  propagate: false,
                              },
                              tooltip: {
                                  mode: 'index',
                                  intersect: false,
                                  callbacks: {  
                                      // Custom tooltip function to include temperature
                                      label: function (context) {
                                          let label = context.dataset.label || '';

                                          if (context.parsed.y !== null) {
                                              label += '\nDepth: ' + context.parsed.y*(-1) + ' m';
                                          }

                                          // Include temperature 
                                          if (context.dataset.temperature !== undefined) {
                                            var temperatureKelvin = parseFloat(context.dataset.temperature[context.dataIndex]);
                                            var temperatureCelsius = (temperatureKelvin - 273.15).toFixed(1);
                                            label += '\nTemperature: ' + temperatureCelsius + ' °C';
                                          }

                                          return label;
                        
                                      },
                                  },
                              },
                          },
                          pointRadius: 0, // Hide data points
                          fill: 'origin', // Fill area below the line
                      },
                  };
                  //chart
                  const myChart = new Chart(
                      document.getElementById('diveProfile'),
                      config
                  );
              });
          });
      });
    document.querySelector('#map-container').style.display= 'none';
    document.querySelector('.graph-container').style.display = 'block';
    //Populate the info if the user decides to click more info, so it does this when opening map and not when button onclick.
    populateContentBelow(selectedFileName, rowIndex-1);
    //Below for button onclick and more dive information
    document.getElementById('more-info').addEventListener('click', function(event) {
      const additionalContentBelow = document.querySelector('.additional-content-below');
      const additionalContentRight = document.querySelector('.additional-content-right');
      const graphContainer = document.querySelector('.graph-container');
      if (graphContainer.style.width === '50%') {
          graphContainer.style.width = ''; // Reset width to default
          toggleMoreInfoButton(true); // Change button text to "More Info"
          additionalContentBelow.style.display = 'none'; // Show the content below the graph
          additionalContentRight.style.display = 'none'; // Show the content below the graph
        } else {
            graphContainer.style.width = '50%'; // Set width to 50%
            toggleMoreInfoButton(false); // Change button text to "Click to Minimize"
            additionalContentBelow.style.display = 'block'; // Show the content below the graph
            additionalContentRight.style.display = 'block'; // Show the content below the graph
        }
    });

    function toggleMoreInfoButton(minimized) {
        const moreInfoBtn = document.getElementById('more-info');
        if (minimized) {
            moreInfoBtn.textContent = 'More Info'; // Change button text to "More Info"
        } else {
            moreInfoBtn.textContent = 'Click to Minimize'; // Change button text to "Click to Minimize"
        }
    }
        })}
</script>

<!-- Map script --> <script>
  
    var maxMapBounds = [
        [90, -180], // North West
        [-90, 180]  // South East
    ];

    var map = L.map('map').setView([51.505, -0.09], 13); // Initialize Leaflet map
    // Add Mapbox tile layer
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: '© Diving Data Hub',
            maxZoom: 18,
            id: 'mapbox/outdoors-v12',
            tileSize: 512,
            zoomOffset: -1,
            maxBounds: maxMapBounds,
            accessToken: 'pk.eyJ1IjoibWFjYW50b21hdG8iLCJhIjoiY2x2MG4xbmU5MWhiMDJpcnprazNhMHBueCJ9.6rufAEhCvcvJQD02SMqGoQ' // Replace with your Mapbox access token
      }).addTo(map);


// Array to store reference to which marker has been clicked
let markers = [];

// Fetch latitude
fetch('/get-latitude')
  .then(response => response.text())
  .then(latitude => {
    // Fetch longitude
    fetch('/get-longitude')
      .then(response => response.text())
      .then(longitude => {
        // Split latitude and longitude strings into arrays
        const regex = /"([^"]+)"/g;
        latitude = latitude.slice(2, -3);
        longitude = longitude.slice(2, -3);
        // Extract numbers and map them to floats
        const latitudeArray = Array.from(latitude.matchAll(regex), match => parseFloat(match[1]));
        const longitudeArray = Array.from(longitude.matchAll(regex), match => parseFloat(match[1]));
        // Assuming both latitude and longitude arrays have the same length
        for (let i = 0; i < latitudeArray.length; i++) {
          // Convert latitude and longitude to floating-point numbers
          const lat = parseFloat(latitudeArray[i]);
          const lng = parseFloat(longitudeArray[i]);

          // Create marker and add it to the map
          let marker = L.marker([lat, lng]).addTo(map);
          marker.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng + "<br>").openPopup();
          markers.push(marker); // Push marker to list of markers
          // Add click event listener to the marker
          // Add click event listener to the marker
          marker.on('click', function (e) {
              handleMarkerClick(markers.indexOf(marker));
          });
        }
      })
      .catch(error => {
        console.error('Error fetching longitude:', error);
      });
  })
  .catch(error => {
    console.error('Error fetching latitude:', error);
  });

// Function to handle marker click event
function handleMarkerClick(clickedMarkerIndex) {
    const clickedMarker = markers[clickedMarkerIndex];
    const clickedLatlng = clickedMarker.getLatLng(); // Get latitude and longitude of clicked marker
    const nearbyDivesIndex = [];
    const threshold = 30000; // 30km away
    document.querySelector('.canvas-container').style.display = 'block';
    // Iterate through all markers to find nearby dives
    markers.forEach((marker, index) => {
        markerLatlng = marker.getLatLng(); // Get latitude and longitude of current marker
        distance = clickedLatlng.distanceTo(markerLatlng); // Calculate distance between markers
        if (distance <= threshold) {
            nearbyDivesIndex.push(markers.indexOf(marker)+1); //Since the list uses index for 1-n and not 0-n
        }
    });
    // Fetch dive names and populate the dive list
    fetch('/get-dive-name')
        .then(response => response.text())
        .then(data => { 
            data = data.slice(2, -3);
            let DiveIndex = 0; //File index/row index
            const regex = /"([^"]+)"/g;
            const DiveNames = Array.from(data.matchAll(regex), match => match[1]);
            const DiveListBody = document.getElementById('dive-list');
            // Clear existing dive list
            DiveListBody.innerHTML = '';
            trueIndex = 0; //For keeping track of the actual index stored in the array

            DiveNames.forEach((DiveName) => {
                DiveIndex += 1; //Incrementer
                if (nearbyDivesIndex.includes(DiveIndex) || DiveIndex === clickedMarkerIndex + 1) {
                    const row = document.createElement('tr');
                    const DiveNameCell = document.createElement('td');
                    DiveNameCell.textContent = DiveName || 'Unnamed Dive'; // Show 'Unnamed Dive' if no name exists
                    row.addEventListener('click', () => {
                        ShowDiveProfileClick(DiveName);
                    });
                    row.appendChild(DiveNameCell);
                    row.setAttribute('new-index', nearbyDivesIndex[trueIndex]); //Setting index for the row as an attribute
                    DiveListBody.appendChild(row);
                    trueIndex +=1;
                }
            });
        })
        .catch(error => {
            console.error('Error fetching dive names:', error);
        });
}
</script>

<!-- Script for returning to home-page --><script>

    // Add event listener to the dash board click to invis the dive summary
    document.getElementById('dashboard-return').addEventListener('click', function(event) {
      document.querySelector('.graph-container').style.display = 'none';
      document.querySelector('#map-container').style.display = 'block';
    });
    // Add event listener to the dash board click to invis the dive summary
    document.getElementById('diving-return').addEventListener('click', function(event) {
        document.querySelector('.graph-container').style.display = 'none';
        document.querySelector('#map-container').style.display = 'block';
    });
</script>    

<!-- Upload --><script>
    // Function to show the dropdown and setup further interaction
    function showDropdownAndPrepareUpload() {
        const dropdown = document.getElementById('dive-computer-dropdown');
        if (dropdown) {
            dropdown.classList.remove('hidden'); // Show the dropdown
            console.log('Dropdown shown');
        } else {
            console.error('Dropdown not found');
        }
    }

    // Add event listener to the upload link
    document.getElementById('upload-link').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action of the link
        showDropdownAndPrepareUpload(); // Show dropdown and prepare for file upload
    });

    // Event listener for dive computer selection
    document.getElementById('diveComputer').addEventListener('change', function() {
        const selectedComputer = this.value;
        const fileInput = document.getElementById('fileInput');

        if (fileInput && selectedComputer !== "") {
            fileInput.click(); // Prompt user to select file
        } else {
            console.error('File input element or dive computer selection missing');
        }

        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const formData = new FormData();
                formData.append('xmlFile', fileInput.files[0]);
                formData.append('diveComputer', selectedComputer);

                let uploadUrl = '/upload'; // Default upload URL

                if (selectedComputer === 'computer2') { // Garmin specific case
                    uploadUrl = '/process-garmin'; // This endpoint will handle file processing on the server
                }

                fetch(uploadUrl, {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Upload response for ' + selectedComputer + ':', data);
                })
                .catch(error => {
                    console.error('Error uploading file:', error);
                });
            }
        };
    });

    // Event listener to handle file selection and upload file
    document.getElementById('fileInput').addEventListener('change', function() {
        if (this.files.length > 0) {
            const formData = new FormData();
            formData.append('xmlFile', this.files[0]);
            formData.append('diveComputer', document.getElementById('diveComputer').value);

            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log('Upload response:', data);
                // Optionally reset the form or handle the response
            })
            .catch(error => {
                console.error('Error uploading file:', error);
            });
        }
    });
</script>
</body>

</html>